astroid==2.0.4
certifi==2018.10.15
chardet==3.0.4
colorama==0.4.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.11
django-allauth==0.38.0
django-appconf==1.0.2
django-axes==4.4.2
django-brutebuster==0.1.8
django-cors-headers==2.4.0
django-geoposition==0.3.0
django-heroku==0.3.1
django-ipware==2.1.0
django-lockout==0.1.1
django-measurement==3.1.1
django-rest-auth==0.9.3
djangorestframework==3.9.0
gunicorn==19.9.0
idna==2.7
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
measurement==2.0.1
mpmath==1.0.0
oauthlib==2.1.0
psycopg2==2.7.6
pylint==2.1.1
pylint-django==2.0.2
pylint-plugin-utils==0.4
python3-openid==3.1.0
pytz==2018.7
requests==2.20.1
requests-oauthlib==1.0.0
six==1.11.0
sympy==1.3
urllib3==1.24.2
whitenoise==4.1.1
wrapt==1.10.11
