.historyOfCollectionOrders{
    display: none;
}
.deleteOrderInfo{
    background: #ff9d3a;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: none;
    transition: all .3s ease-in-out;
}
.deleteOrderInfo:hover{
    background: #ff5847;
}
.noHistory{
    text-align: center;
    color: #DC8502;
    padding: 20px;
    margin-top: 10px;
}
.makeACollectionOrder
{
    visibility: hidden;
}
.makeACollectionOrder h4
{
    color: #DC8502;
}

.mapMini
{
    max-width: 500px;
    min-width: 300px;
    height: 500px;
    width: 50%;
    margin: 20px auto;
    border-radius: 15px;
    background: black;
    display: inline-block;
    box-shadow: 0px 2px 30px 10px #BDBDBD;
}
.create-form{
    margin-top: 20px;
}
.mapCoords
{
    display: none;
}
.ordersBefore
{
    display: none;
}
.invalid-feedback{
    display: none;
    color: #a00500;
}

.makeACollectionOrder
{
    width: 100%;
    display: inline-block;
    font-size: 0;
    margin: -10px;
    padding: 0;
    text-align: center;
}
.create-container
{
	text-align: center;
	display: inline-block;
	width:40%;
    margin: 2%;
    padding: 0px;
	font-size: 14px;
	vertical-align: top;
    max-width: 500px;
    min-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 30px 10px #BDBDBD;
}
.create-container-package
{
	text-align: center;
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
}
.boxes-create
{
    display: block;
    width: 90%;
    max-width: 280px;
    margin: 0 auto;
	padding: 5px;
	border: solid 1px orange;
	border-radius: 5px;
}
.content-create
{
    text-align: center;
    width: 100%;
    padding: 10px 10px 30px 30px;
}

.label-create
{
	padding: 12px;
	font-size: 14px;
}

.combo-box-create
{
	display: block;
    width: 90%;
    max-width: 280px;
    margin: 0 auto;
	padding: 5px;
	border: solid 1px orange;
	border-radius: 5px;
}
.carousel-create
{
    width: 100%;
    display: inline-block;
}
.package-create-container
{
	text-align: center;
	display: inline-block;
	width:25%;
    margin: 2%;
    padding: 0px;
	font-size: 14px;
	vertical-align: top;
    max-width: 400px;
    min-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 50px 10px #BDBDBD;
}
.more-container
{
    text-align: center;
	display: inline-block;
	width:25%;
    margin: 2%;
    padding: 0px;
	font-size: 14px;
	vertical-align: top;
    max-width: 400px;
    min-width: 300px;
    height: 470px;
}
.addPackage
{
    width: 80px;
   	height: 80px;
   	background-color: white;
   	border-radius: 50%;
   	transition: all 0.1s ease-in-out;
   	font-size: 60px;
   	color: rgba(255, 165, 0, 0.47);
   	text-align: center;
   	line-height: 80px;
	cursor: pointer;
	display: inline-block;
    border: solid rgba(255, 165, 0, 0.47);
    margin: 50% auto 10px;
    transform: translate(0,50%);
}
.addPackage:hover {
    color: rgba(255, 165, 0, 1);
    border: solid rgba(255, 165, 0, 1);
}
.cards-create
{
    display: inline-block;
    height: auto;
    margin: 2%;

}

.cleaner{
    display:none;
}
.label-create.b
{
    font-size: 18px;
}
.check
{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 20px;
    background: orange;
    z-index: 999;
    color: white;
    border-radius: 50%;
   	box-shadow: 0 3px 7px 0 #874300;
   	transition: all 0.1s ease-in-out;
   	font-size: 50px;
   	text-align: center;
   	line-height: 70px;
	cursor: pointer;
}

.check:hover {
   box-shadow: 0 3px 11px 0 #874300;
   transform: scale(1.05);
}
.settings
{
    text-align: center;
}
.profile-card{
    width: 90%;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 0px 2px 50px 10px #BDBDBD;
    overflow: hidden;
    text-align: left;
}
.profile-card-image
{

    background-image: url("../img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 150px;
}
#profile-image-card{
    width: 100px;
    height: 100px;
    margin: 0 50px;
    transform: translate(0,-50%);
    border-radius: 50%;
    cursor: pointer;
}

.alpha-card-image
{
    background: rgba(255, 165, 0, 0.54);
    position: relative;
    margin: 0;
    width: 100%;
    height: 300px;

}
.profile-stats
{
    font-size: 0;
    margin-top: -100px;
}
.stat
{
    width: 20%;
    height: auto;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    text-align: center;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}
.title-stat
{
    font-size: 18px;
}

.data-stat
{
    font-size: 10px;
    color: #828282;
}

.icon-stat
{
    font-size: 18px;
    color: orange;
}

.title-section.red{
    background: #F44336;
}
.more-modal.redi
{
    background: #F44336;
}

.user-image.update
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}
