.loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(34, 21, 0, 0.8);
    z-index: 999;
    display: none;
}
.loadingText
{
    color: #fff;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    text-align: center;
}
#loading27{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0,-50%);
}
#loading27 .colorBalls{
    width: 50px;
    height: 50px;
    margin: 10px auto;
    animation: rotate 1s linear infinite;
}
#loading27 .colorBalls:before,
#loading27 .colorBalls:after{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
}
#loading27 .colorBalls:before{
    animation: ball1 1s infinite;
    background-color: #cb612d;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}
#loading27 .colorBalls:after{
    animation: ball2 1s infinite;
    background-color: #f8f16b;
    box-shadow: 30px 0 0 #e4f857;
    margin-bottom: 10px;
}

@keyframes rotate{
    0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #e4f857;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8f16b;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #cb4600;
  }
  50% {
    box-shadow: 0 0 0 #cb6d00;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #cb8700;
    margin-top: 0;
  }
}